{% extends 'base.html' %}
{% block title %}Details{% endblock %}
{% block albums_active %}active{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Shop</a>
    </div>

    <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

                <li style=""><a href="{% url 'shop:customer_order' %}">View All Products</a></li>
                <li style="margin-left:700px;"><a href="#">Welcome <b>{{request.user}}</b></a></li>
                <li ><a href="{% url 'shop:logout' %}">Logout</a></li>
               </ul>
            

        </div>
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
{% block body %}


<div class="container container-fluid">
        
        <span>
          <a href="{% url 'shop:order_details' item.slug %}">
              {% if item.image %}
                  <img src="{{ item.image.url }}" class="" style="width:35%;">
              {% else %}
                  <h3>No image to display</h3>
              {% endif %}
          </a>
        </span>
        <span id="content" style="float:right;margin-right:300px;">
          <h1>{{ item.name }} </h1>
          <h3><i style="color:gray;">Price</i>: ₹ {{ item.price }}</h3>
          <h3><i style="color:gray;">Seller</i>: {{ item.seller }}</h3>
          <h3><i style="color:gray;">Inventory</i>: {{ item.inventory }}</h3>
        </span>
</div>
<br><br><br><br>

<div class="container" style="float: center;">

  
  <div>
  <form role="form"  action="" id="add_item" method="post" enctype="multipart/form-data">
  {% csrf_token %}

    <div class="form-group">
      <label class="control-label" for="coupon">Coupon Code</label>
      <div class="controls">
        <input type="text" style="width:20%" name="coupon" placeholder="" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="comment">Shipping Address:</label>
      <textarea class="form-control" rows="5" name="addr" style="width:50%"></textarea>
    </div>

    <input type="hidden" name="item" value="{{item.id}}">
    <div class="form-group">
      <input type="submit" class="btn btn-info"  value="Submit">
    </div>
  </form>



{% if error %}
    <p class="text-danger">{{message}}</p>
{% else %}
    <p class="text-success">{{message}}</p>
{% endif %}
</div>
</div>
</div>



{% endblock %}

