#add_tiem{
    -moz-box-shadow: 0 0 2px black; 
    margin: 0 auto; 
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black; 
    width: 400px; 
    padding-left: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

/*body{

    background-color: lightslategray;
}*/

#id_name, #id_price, #id_inventory, #id_image{
    width: 270px;
    height: 40px;
    border-radius: 10px;
    outline: none; 
    padding-left : 17px; 

}
/*
label {
  color: #900;
  text-decoration: none;
  font-size: 17px;
  font-style: oblique;
  font-family: monospace;
}
*/
